td {
    text-align: center;
}

#navbar {
    background-color: rgb(0, 3, 10);
    width: 100%;
    border-bottom: 1px solid rgb(28, 46, 73);
    display: flex;
    position: fixed;
    top: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 30px;
}

#h1 {
    color: rgb(192, 212, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    font-weight: bolder;
}

#container1 {
    display: flex;
    margin-top: 150px;
    width: 100%;
    /* border: 1px solid green; */
    justify-content: space-evenly;
    flex-direction: row;
}

#mainBox {
    margin: 0 0;
    padding: 0 0;
    /* background-color: rgb(65, 65, 65); */
    display: flex;
    width: 60%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#frame {
    border-radius: 5px;
    z-index: -1;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    width: 80%;
}

#typeBox {
    display: flex;
    position: fixed;
    bottom: 15%;
    flex-direction: row;
    width: 40%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

#submit {
    height: 40px;
    background-color: rgb(145, 162, 255);
    padding: 0 25px;
    border: 2px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px;
    font-weight: bolder;
    border-radius: 2px;
    transition-duration: 0.3s;
    color: black;
}

#submit:hover {
    background-color: rgb(0, 3, 19);
    border: 2px solid rgb(145, 162, 255);
    color: rgb(198, 204, 255);
}

#movieText {
    height: 40px;
    border-radius: 2px;
    background-color: rgb(0, 3, 19);
    padding: 0px 25px;
    border: 2px solid rgb(117, 117, 117);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(162, 176, 255);
}


#next {
    height: 35px;
    background-color: rgb(145, 162, 255);
    padding: 0 25px;
    border: 0px solid rgb(145, 162, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 2px;
    margin: 15px;
    z-index: -1;
    position: fixed;
    bottom: 5%;
    transition-duration: 0.3s;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#next:hover {
    background-color: rgb(0, 3, 19);
    border: 2px solid rgb(145, 162, 255);
    color: rgb(198, 204, 255);
}

#statisticsTable {
    background-color: black;
    width: 20%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#tableHead {
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 25px;
}

#smallBox1,
#smallBox2 {
    display: flex;
    flex-direction: row;
}

#text1 {
    color: white;
    font-family: monospace;
    font-weight: bolder;
    margin: 15px;
    font-size: 15px;
}

#text2 {
    color: white;
    font-family: monospace;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    margin: 15px;
    font-size: 15px;
}

#temp{

    color: rgb(93, 185, 81);
}
#movieList {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0px solid red;
    position: absolute;
    margin-top: 30px;
    /* overflow: scroll; */
    top: 50%;
    width: 30%;
    padding-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(0, 3, 10);
    z-index: 2;
}

#movies {
    padding: 8px;
    overflow: hidden;
    cursor: pointer;
}